.border {
    display: block;
    &--vertical {
        width: 11px;
        background: url("./../../../assets/img/borders/border.png") no-repeat;
        background-size: 100% 100%;
    }
    &--horizontal {
        width: 103.1%;
        height: 12px;
        background: url("./../../../assets/img/borders/border-horizontal.png") no-repeat;
        background-size: 100.1% 100%;
    }
}
