.cell {
    &--type-number-1 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: 0px -67.6px;
    }
    &--type-number-2 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -17px -67.6px;
    }
    &--type-number-3 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -34px -67.6px;
    }
    &--type-number-4 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -51px -67.6px;
    }
    &--type-number-5 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -68px -67.6px;
    }
    &--type-number-6 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -85px -67.6px;
    }
    &--type-number-7 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -102px -67.6px;
    }
    &--type-number-8 {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -119px -67.6px;
    }
    &[data-status="empty"] {
        background: url("./../../assets/img/sprite.png") no-repeat;
        background-position: -17px -50.6px;
    }
    &[data-status="hidden"] {
        background: url("./../../assets/img/sprite.png") no-repeat center center;
        background-position: 0px -50px;
    }
    &[data-status="mine"] {
        background: url("./../../assets/img/sprite.png") no-repeat center center;
        background-position: -85px -51px;
    }
    &[data-status="hitted-mine"] {
        background: url("./../../assets/img/sprite.png") no-repeat center center;
        background-position: -102px -50.5px;
    }
    &[data-status="marked"] {
        background: url("./../../assets/img/sprite.png") no-repeat center center;
        background-position: -34px -50px;
    }
    &[data-status="missed"] {
        background: url("./../../assets/img/sprite.png") no-repeat center center;
        background-position: -119px -50.5px;
    }
    &[data-status="supposed"] {
        background: url("./../../assets/img/sprite.png") no-repeat center center;
        background-position: -51px -50px;
    }
    &[data-status="missed-supposed"] {
        background: url("./../../assets/img/sprite.png") no-repeat center center;
        background-position: -68px -51px;
    }
}
