.smile {
    height: 27.9px;
    width: 25.6px;
    &--unpressed {
        background: url("./../../assets/img/sprite.png");
        background-position: 0 60.8px;
    }
    &--pressed {
        background: url("./../../assets/img/sprite.png");
        background-position: -27px 60.8px;
    }
    &--win {
        background: url("./../../assets/img/sprite.png");
        background-position: -81px 60.8px;
    }
    &--lose {
        background: url("./../../assets/img/sprite.png");
        background-position: -108px 60.8px;
    }
    &--afraid {
        background: url("./../../assets/img/sprite.png");
        background-position: -54px 60.8px;
    }
}
