@import "../../assets/styles/vars.scss";

.board {
    // .board__field
    &__field {
        display: grid;
        grid-template-columns: repeat(var(--size), 16.2px);
        grid-template-rows: repeat(var(--size), 16.2px);
    }
}
